.header-container{
  display: block;
  background-color: black;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 5;
  height: 69px;
  border-bottom: 1px solid seashell;
}

.logo{
  display: flex;
  margin-left: 10px;
  height: 50px;
}

body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: .9;
  text-align: center;
}

a{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  text-decoration: underline;
}

.teas img{
  height: 200px;
  width: 300px;
}
.teas{
  margin: 30px;
}

.content{
    overflow: scroll;
}

.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align:right;
}

.mission{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1000px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height: 700px;
  padding-top: 69px;
}

.ourmission{
  background-color: black;
}

.tea-month{
  width: 1000px;
  justify-content: center;
}

.teas{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.locationimage{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  height: 500px;
  width: 1000px;
}

.location{
  justify-content: center;
}

.location h2{
  padding-bottom: 15px;
}
.locations{
  display: flex;
  justify-content: center;
}

.downtown,
.bayside,
.oakdale{
  width: 300px;
  margin:0 20px 0 0;
  background-color: black;
  opacity: 1;
}

.contact{
  height: 200px;
  justify-content: center;
}

.copyright{
  text-align: left;
  padding-left: 20px;
}
